<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="app/assets/images/favicon.ico" type="image/x-icon">
    <title>Instakilogram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= yield %>
  </body>
</html>
